[Desktop Entry]
Type=Application
Name=strata
GenericName=Git History Visualizer
Comment=See how a git repository grew
Exec=strata app
Icon=strata
Terminal=false
StartupNotify=false
Categories=Development;RevisionControl;
Keywords=git;history;repository;visualization;blame;
